

#car img{
  width: 100%;
  transition: .5s all;
}

#car .card-image{
  overflow: hidden;
}
#car .col-lg-3:hover{
  transform: scale(1.1);
  transition: all .3s;
}
#car .card-text h3{
  font-size: 20px;
  font-weight: 600px;
  font-family: sans-serif;

}